body {
	background-image: url(../img/back1.png);
}

/*общий див*/
.container {
	margin: auto;
	background-color: white;
	width: 1000px;
	margin-top: 38px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
/*обнуление флоатов в общем диве*/	
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

/*шапка со странами*/
.main_info {
	height: 175px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	color: #128aa7;
	font-family: tahoma;
}

.main_words {
	padding-top: 100px;
	padding-left: 100px;
}
.contacts {
	float: right;
	padding-top: 7px;
	padding-right: 45px;
	font: 11pt/14pt sans-serif;

}
.countries ul li {
	display: inline-block;
}
.countries ul li a {
	display: block;
	font-size: 11px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	;
}
.countries {
	float: right;
	padding-right: 15px
}

/*меню*/
.main_pic {
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	height: 237px;
}

.menu {
	clear: both;
	height: 30px;
	background-image: url(../img/menu.png);
	box-shadow: 0px 4px 4px 0px rgba(119,119,120,0.66);
	position: relative;
}
/*
.menu1 li ul{
	position: absolute;
	display: none;
	width: 60px;
}
.menu1 li:hover ul {
     display: block;
}
.menu1 li {
	display: inline-block;
	margin: 0 15px 0 15px;
	padding: 5px 20px 0 15px;
}

.menu ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	font: 12pt tahoma bold;
}
*/

.menu1 li {
    float: left;
    position: relative;
}
.menu1 li a {
    display: block;
    padding-left: -10px;
    padding-right: 10px;
    padding-top: 6px;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
    font-family: tahoma;
}
.menu1 li a:hover {
    background-color: transparent;
}
.submenu {
    display: none;
    position: absolute;
    width: 155px;
    top: 30px;
    left: 20px;
    background-color: #303030;
    box-shadow: 0px 4px 4px 0px rgba(119,119,120,0.66);
 
   
}
.submenu li {
    display: block;
    

}
.submenu li a {
    display: block;
    color: #ffffff;
    background-color: #303030;
    text-decoration: none;
    font-family: tahoma;
    
}

.menu1 li:hover .submenu {
    display: block;
}

/*основные колонки*/
.columns {
	width: 1000px;
	overflow: hidden;
	/*height: 500px;*/
}

.info {
	width: 30%;
	float: left;
	background-color: #edeef0;
	border-right: 1px solid #c7cacf;
	text-align: auto;
	padding: 10px 10px 0 10px;
	font: 11pt/16pt tahoma;
	color: #424c43;
	padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.centr{
	width: 33%;
	margin: 0 auto;
	padding-left: 7px;
	padding-bottom: 20000px;
    margin-bottom: -20000px;
	
}
.news {
	width: 30%;
	height: 100%;
	float: right;
	background-color: #edeef0;
	border-left: 1px solid #c7cacf;
	text-align: auto;
	padding: 10px 10px 0 10px;
	font: 11pt/16pt tahoma;
	color: #424c43;
	padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.z1 {
	font: bold 20px tahoma;
	text-align: center;
}
.z2 {
	font: bold 20px tahoma;
	text-align: center;	
}

.insta_user img {
	width: 250px;
	padding-left: 45px;
}

/*footer*/
.footer{
	color: #dee7ee;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 15px;
}