@font-face {
    font-family: 'leaguegothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans.light-webfont.eot');
    src: url('../fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.light-webfont.woff') format('woff'),
         url('../fonts/open-sans.light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'open_sans_extrabold';
	src: url('../fonts/OpenSans-ExtraBold.eot') format('eot'),
		 url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
		 url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
		 url('../fonts/OpenSans-ExtraBold.svg#OpenSans-Extrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}


.topblock {
	background: url(../img/topback.jpg) center center no-repeat;
    background-size: cover;
}


.allblock {
    max-width: 960px;
    margin: 0 auto;
    
}

.top__block {
    margin-bottom: 100px;

}
.topblock__logo {
	max-height: 100%;
	float: left;
	margin-top: 50px;
}

.topblock__navigation {
	float: right;
	width: 67%;
	margin-top: 73px;
}

.topblock__navigation__menu li a {
	font-family: 'leaguegothic';
	font-size: 24px;
	display: inline-block;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	color: white;
}

.topblock__navigation__menu li a:hover {
	border-bottom: 2px solid #edbfff;
}
.topblock__navigation__menu li {
	float: left;
}

.topblock__navigation__menu__li {
	padding-left: 52px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/*slider*/
.slider {
	background: rgba(68, 75, 78, 0.3);
    margin-top: 166px;
}


.slider__body__text {
	width: 55%;
	float: left;	
	margin-top: 77px;
}
.slider__body__phone {
	width: 36%;
    float: right;
    display: inline-block;
    margin-top: -17px;
    margin-bottom: -20px;
}
.slider__body__text h1 {
	font-family: 'leaguegothic';
	font-size: 60px;
	letter-spacing: -0.5px;
	color: white;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.slider__body__text h2 {
	font-family: 'leaguegothic';
	font-size: 32px;
	color: #edbfff;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
.slider__body__text p {
	font-family: 'open_sanslight';
 	font-size: 18px;
	color: #c6c4c7;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	margin-top: 9px;
    line-height: 1.3;
}

.slider__body__phone a {
	display: block;
}

/*slider menu*/
.navigation_slider_menu {
 float: right;
 margin: 93px 169px 55px;
}

.navigation_slider_menu li {
	display: inline-block;
}

.navigation_slider_menu li a {
	display: inline-block;
	height: 11px;
	width: 11px;
	background: #393740 0 0 no-repeat;
	border: 4px solid #393740;
	border-radius: 10px
}

.navigation_slider_menu li a:hover {
	
	background: white;
}
/*blurbs*/

.blurbs {
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%,rgba(51,37,58,1) 100%);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.blurbs__width {
	width: 23%;
	display: inline-block;
	position: relative;
	color: white;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
.blurbs__width a {
	color: white;
}

.blurbs__width a:hover {
	text-shadow: -1px 0px 6px rgba(255, 255, 255, 0.91);
}

.blurbs__column__head {
	font-family: 'leaguegothic';
	font-size: 30px;
}

.blurbs__column__text {
	font-family: 'open_sanslight';
	font-size: 16px;
	margin-top: 9px;
    line-height: 1.5;
}

.blurbs__column__read {
	font-family: 'leaguegothic';
	font-size: 18px;
    float: right;
    margin-top: -5px;
    margin-bottom: 18px;
}

.blurbs__column_1, .blurbs__column_2
{
  margin: 74px 20px 50px 64px;
 } 
.blurbs__column_2 {
	margin-left: 95px;
}
.blurbs__column_3 {
     margin-left: 90px;
 }

 .blurbs__column__img {
 	position: absolute;
 	top: 9px;
    left: -51px;
 }

 /*block with updates*/
 .update_block {
 	background: #eae5e5;
}

.update_block__main {
	padding-top: 100px;
}
.update_block__main__starts {
	width: 40%;
	background: #ffffff;
	position: relative;
    margin-left: 27px;
    padding-left: 35px;
    padding-right: 6px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.update_block__main__starts__text {
	font-family: 'leaguegothic';
	font-size: 30px;
	color: #454545;
}

.update_block__main__starts__text__here {
	font-family: 'leaguegothic';
	font-size: 30px;
	color: #edbfff
}

.update_block__main__starts p {
	font-family: 'open_sanslight';
	font-size: 16px;
	color: #454545;
	margin-top: 10px;
    line-height: 1.5;
    padding-bottom: 16px;
}

.update_block__main__starts__img {
	position: absolute;
    top: 18px;
    left: -27px;
}

.update_block__main__starts:after {
	content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 22px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid white;
    bottom: -20px;
    right: 30px;
}

.left_menu {
	float: left;
    margin-top: 25px;
    margin-left: 200px;
    margin-bottom: 72px;
}

.left_menu li a {
	background: white 0 0 no-repeat;
	border: 1px solid #393740;
	border-radius: 10px
}

.left_menu li a:hover {
		background: #393740;
}

.update_block__main__recent {
	float: right;
	width: 40%;
	position: relative;
	margin-top: 30px;
}

.margin_block {
	    margin-left: -66px;
}

.update_block__main_rmh {
	margin-top: 24px;
    margin-right: 21px;
    color: #454545;
}

.update_block__main_bodyhead {
	font-family: 'open_sans_extrabold';
	}

.update_block__main__blockimg {
	position: relative;
	margin-top: 21px;
}	

.update_block__main__recent .update_block__main_bodytext {
	margin-top: 4px;
}
.update_block__main__blockimg img {
	position: absolute;
	left: -65px;
    top: -4px;
}

.update_block__trust {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.update_block__trust ul {
	margin: 24px 0 27px 94px;
}

.update_block__trust li {
	display: inline-block;
	margin-right: 60px;
}

.update_block__trust li a {
	display: block;
	width: 70px;
	height: 65px;
	background: url(../img/spritelogo.png) 0 0 no-repeat;
}

.update_block__trust .update_block__trust_link2 {
	background-position: -73px 0;
}

.update_block__trust .update_block__trust_link3 {
	background-position: -144px 0;
}

.update_block__trust .update_block__trust_link4 {
	background-position: -212px 0;
    width: 53px;
    margin-left: 4px;
}
.update_block__trust .update_block__trust_link5 {
	background-position: -265px 0;
    width: 108px;
    margin-left: 2px;
}
.update_block__trust .update_block__trust_link6 {
	background-position: -374px 0;
    width: 78px;
}

/*group down three blocks*/

.group_down {
	background: #ececec;
	border-bottom: 1px solid #7b717e;
}


.group_down__txt {
    margin: 80px 55px 70px 0;
    width: 29%;
}

.txt__after {
	margin-right: 0;
	margin-top: 96px;
}

.txt__middle {
	margin-top: 96px;
}

.group_down__txt_head {
	color: #454545;
}

.group_down__txt_body {
	color: #787878;
	text-shadow: 0px 2px 1px rgba(255, 255, 255, 1);
}

.group_down__txt__copy {
	font-family: georgia;
	font-size: 16px;
	font-style: italic;
	color: #c5c5c5;
	text-shadow: 0px 2px 1px rgba(255, 255, 255, 1);
}

.group_down__context {
	font-size: 48px;
	text-shadow: 0px 2px 1px rgba(255, 255, 255, 1);
}

.context_pingbull {
	color: #454545;
}

.context_er {
	color: #b9b9b9;
}

/*footer*/

footer {
	background: url(../img/footerbg.png) center center no-repeat;
    background-size: cover;
}

.footer__menu__all {
	margin-top: 45px;
	margin-bottom: 50px;
	float: left;
}
.footer_design {
	float: right;
	color: white;
	font-size: 12px;
	margin-top: 52px;
}

.footer_design_1 {
	font-family: 'open_sanslight';
	
}

.footer_design_2 {
	font-family: 'open_sans_extrabold';
	
}

.footer__menu {
	display: inline-block;
	margin-right: 40px;
}

.footer__menu a {
	text-decoration: none;
	font-family: 'leaguegothic';
	font-size: 20px;
	color: white;
}