@font-face {
    font-family: 'leaguegothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans.light-webfont.eot');
    src: url('../fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.light-webfont.woff') format('woff'),
         url('../fonts/open-sans.light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.topblock {
	background: url(../img/topback.jpg) center center no-repeat;
    background-size: cover;
}


.allblock {
    max-width: 960px;
    margin: 0 auto;
    
}

.top__block {
    margin-bottom: 100px;

}
.topblock__logo {
	max-height: 100%;
	float: left;
	margin-top: 50px;
}

.topblock__navigation {
	float: right;
	width: 67%;
	margin-top: 73px;
}

.topblock__navigation__menu li a {
	font-family: 'leaguegothic';
	font-size: 24px;
	display: inline-block;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	color: white;
}

.topblock__navigation__menu li {
	float: left;
}

.topblock__navigation__menu__li {
	padding-left: 52px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/*slider*/
.slider {
	background: rgba(68, 75, 78, 0.3);
    margin-top: 166px;
}


.slider__body__text {
	width: 55%;
	float: left;	
	margin-top: 77px;
}
.slider__body__phone {
	width: 36%;
    float: right;
    display: inline-block;
    margin-top: -17px;
    margin-bottom: -20px;
}
.slider__body__text h1 {
	font-family: 'leaguegothic';
	font-size: 60px;
	letter-spacing: -0.5px;
	color: white;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.slider__body__text h2 {
	font-family: 'leaguegothic';
	font-size: 32px;
	color: #edbfff;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
.slider__body__text p {
	font-family: 'open_sanslight';
 	font-size: 18px;
	color: #c6c4c7;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	margin-top: 9px;
    line-height: 1.3;
}

.slider__body__phone a {
	display: block;
}

/*slider menu*/
.navigation_slider_menu {
 float: right;
 margin: 93px 169px 55px;
}

.navigation_slider_menu li {
	display: inline-block;
}

.navigation_slider_menu li a {
	display: inline-block;
	height: 11px;
	width: 11px;
	background: #393740 0 0 no-repeat;
	border: 4px solid #393740;
	border-radius: 10px
}

.navigation_slider_menu li a:hover {
	
	background: white;
}
/*blurbs*/

.blurbs {
	background: linear-gradient(to bottom, rgba(116,80,131,1) 0%,rgba(51,37,58,1) 100%);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.blurbs__width {
	width: 23%;
	display: inline-block;
	position: relative;
	color: white;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.blurbs__column__head {
	font-family: 'leaguegothic';
	font-size: 30px;
}

.blurbs__column__text {
	font-family: 'open_sanslight';
	font-size: 16px;
	margin-top: 9px;
    line-height: 1.5;
}

.blurbs__column__read {
	font-family: 'leaguegothic';
	font-size: 18px;
    float: right;
    margin-top: -5px;
    margin-bottom: 18px;
}

.blurbs__column_1, .blurbs__column_2
{
  margin: 74px 20px 50px 64px;
 } 
.blurbs__column_2 {
	margin-left: 95px;
}
.blurbs__column_3 {
     margin-left: 90px;
 }

 .blurbs__column__img {
 	position: absolute;
 	top: 9px;
    left: -51px;
 }