/*to all*/
* {
	margin: 0;
	padding: 0;
	font-family: tahoma; 
}	
 ol, ul {
 	list-style: none;
 }

/*end to all*/
}

body {
	background-color: #f9f9f9;
}

.logo {
	margin-top: 5px;
	margin-bottom: 40px;
}
.container {
	margin: 0 9% 0 9%;
	padding: 3%;
	background-color: #ffffff;
	border-left: solid 3px;
	border-right: solid 3px;
	border-color: #dbdbdb;
}

/*верхнее меню*/
.panel {
	
	background-image: url(../img/panel.png);
	height: 40px;
	width: 100%;
}


.panel ul li {
	display: inline-block;
	margin-right: 3%;

}

.panel ul li a {
	display: block;
	text-align: center;
	color: #c0c0c0;
	text-decoration: none;
	padding-top: 9px;
	padding-left: 18px;
	padding-right: 18px;

}

a:hover.main {
	background: #323232;
	color: #c0c0c0;
	height: 31px;
	border-right: solid 1px; 
	border-left: solid 1px;
	border-color: #838383;
	margin-left: -1px;
	margin-right: -1px;
}

/*sidebar*/

.sidebar {
	border: 1px solid #dbdbdb;
	margin-top: 40px;
	width: 240px;
	float: left;
}


.sidebar ul li {
	border-bottom: 1px solid #dbdbdb;
    display: block; 
    padding: 16px;
    background-color: #ffffff; 
    }
.sidebar ul li:last-child {
	border-bottom: none;
}

.sidebar ul li a {
	display: block;
	text-decoration: none; 
    color: #656363; 

}
.sidebar ul li:hover {
    color: black; 
    background-color: #f9f9f9; 
    padding-left: 24px;
}

/*content*/

.mainpublic {
	
	margin-top: 40px;
}
.mainpost {
	float: right;
	border: 1px solid #c8c8c8;
	display: block;
	margin: auto;
	padding: 30px 50px 20px 50px;
}

.text {
	float: right;
	width: 601px;
	padding-top: 40px;
}

/*footer*/
.foot_menu {
	clear: both;
	background: #e6e7e9;
    width: 100%;
    height: 40px;
}

.foot_menu ul li {
	display: inline-block;
	margin-right: 3%;
}

.foot_menu ul li a {
	display: block;
	text-align: center;
	color: #2c2c2c;
	text-decoration: none;
	padding-top: 9px;
	padding-left: 18px;
	padding-right: 18px;
}

.copy {
	float: right;
	padding-top: 8px;
}