body {
	margin: 0;
	background-image: url(34.png);
	background-size: repeat cover;
}

.bodyall {
		background-image: url(luxfon.com_6125.jpg) ;
 		background-repeat: 
 		width: 75%; 
 		font-family: Tahoma;
 		color: white;
		font-size: 19px;
		margin: 0 15%;
		padding: 5%;
	}
img {
	
	-webkit-box-shadow: 13px 13px 50px -21px rgba(0,0,0,1);
	-moz-box-shadow: 13px 13px 50px -21px rgba(0,0,0,1);
	box-shadow: 13px 13px 50px -21px rgba(0,0,0,1);

}

.3435 {
	text-align: center;
}
.main-picture {

		text-align: center;

	}
a {
	display: block;
}

.ssilki
 {
 	margin-right: 30px; /* Отступ справа */
    margin-bottom: 30px; /* Отступ снизу */
}

