body {
	margin: 0;
	background-image: url(200931776657564.png);
	background-size: repeat cover;
}

.bodyall {
		/*height: 100%; */
 		background-image: url(geometric-pattern-background-blue.png) ;
 		background-repeat: 
 		width: 75%; 
 		font-family: Tahoma;
		font-size: 15px;
		/*margin: 15%;
		margin-top: 5%;*/
		margin: 0 15%;
		padding: 5%;
	}
.77 {
	display: block;
}

.main-picture {

		text-align: center;

	}
	img {
		-webkit-box-shadow: 13px 13px 50px -21px rgba(0,0,0,1);
			-moz-box-shadow: 13px 13px 50px -21px rgba(0,0,0,1);
			box-shadow: 13px 13px 50px -21px rgba(0,0,0,1);
	}

	p {
		margin: 3px;
	}
	a {
		display: block;
	}