body {
	padding: 3%;

}

h1 {
	margin: 0 auto;
	width: 40%;
}

li {
	list-style: none;
}

.wrapper__li {
	list-style: none;
	padding-left: 30px;
	padding-top: 10px;
}

.wrapper__ul {
	font-size: 24px;
}

button {
	margin: 25px 0px 5px 95px;
}

.btn-magic {
	display: none;
}