* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eba070;
}


.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	
	
}

.tabs {
	padding: 50px 0px 0px 0px;
}

.tabs li {
	list-style: none;
	display: inline-block;
	line-height: 25px;
}

.tabs a {
	text-decoration: none;
	display: block;
	width: 60px;
	height: 25px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-top: 1px solid #6b566b;
	border-left: 1px solid #6b566b;
	border-right: 1px solid #6b566b;
	text-align: center;
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
}

.text_down {
	padding-top: 10px;
}

.textclass {
	display: none;
}
.text1 {
	width: 60%;
	border: 1px solid #6b566b;
	padding: 10px;
	background-color: lightgray;
	-webkit-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	-moz-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	
}
.text2 {
	width: 60%;
	border: 1px solid #6b566b;
	padding: 10px;
	background-color: lightgray;
	-webkit-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	-moz-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	
}
.text3 {
	width: 60%;
	border: 1px solid #6b566b;
	padding: 10px;
	background-color: lightgray;
	-webkit-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	-moz-box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.93);
	
}