* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: green;
}

ul {
  list-style: none;
}

.menu > li {
  float: left;
  padding: 20px;
}

a {
  display: inline-block;
}

.sub {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
}

.sub li {
  padding: 5px;
}

.dropdown {
  position: relative;
}

.dropdown:hover .sub {
  display: block;
}

.form {
  background-color: rgba(100, 100, 100, 0.7);
  width: 40%;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
}

input {
  display: inline-block;
  width: 90%;
}

.form div {
  margin: 10px 0;
}

.wrapper {
  background-color: cyan;
  border-bottom: 1px solid transparent;
}

.wrapper:hover {
  background-color: rgba(15, 65, 30, 0.8);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}