.bodydiv {
	padding: 5%;
	background:  url('./img/1.jpg') no-repeat fixed center #10b3d1;
	background-size: cover;
	background-position: center;
	
}

.mainblock {
	margin: 100px auto;
	background-color: whitesmoke;
	width: 40%;
	border-color: whitesmoke;
	border-radius: 20px;
	padding-top: 30px;
}

.mainblock__text {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.mainblock form {
	margin: 40px auto;
}

.mainblock input {
	margin-left: 14%;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

